In [4]:
import pandas as pd

In [5]:
df1906 = pd.read_csv('201906-citibike-tripdata.csv')
df1907 = pd.read_csv('201907-citibike-tripdata.csv')
df1908 = pd.read_csv('201908-citibike-tripdata.csv')
df1909 = pd.read_csv('201909-citibike-tripdata.csv')
df202006 = pd.read_csv('202006-citibike-tripdata.csv')
df202007 = pd.read_csv('202007-citibike-tripdata.csv')
df202008 = pd.read_csv('202008-citibike-tripdata.csv')
df202009 = pd.read_csv('202009-citibike-tripdata.csv')

In [6]:
df1906.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [7]:
df202006.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [8]:
df1907.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [9]:
df202007.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [10]:
dfs1=[
df1906,
df1907,
df1908,
df1909]

dfs2=[
df202006,
df202007,
df202008,
df202009]

In [ ]:
# for i in dfs1:
#     for j in dfs2:
#         for ci in i.columns:
#             for cj in j.columns:
#                 if ci != cj:
#                     print('no match')

In [ ]:
all = pd.concat([df202006, df202007, df202008, df202009, df1906, df1907, df1908, df1909])

In [ ]:
all

In [ ]:
all.to_csv('all.csv', index=None)